<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686372652255-lj8g6htj30j75jt6quk4opbl6f4pkiuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686372652255-lj8g6htj30j75jt6quk4opbl6f4pkiuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>686372652255-qe2b4qmpfrcfqa1tqqbgjdljds6v1jho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIV3XTFYlrZPqCHdkIIB35Rm9jEzlGLuE</string>
	<key>GCM_SENDER_ID</key>
	<string>686372652255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.google</string>
	<key>PROJECT_ID</key>
	<string>flow-838e4</string>
	<key>STORAGE_BUCKET</key>
	<string>flow-838e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686372652255:ios:2aa418da9649327ae7d56a</string>
</dict>
</plist>